@if (products().length > 0) {
<h1>Products ({{products().length}})</h1>
} @else if (products().length === 100) {
<span>
  Click <a>Load More</a> to see more products.
</span>
} @else {

}
<div class="sort-control">
  <span>Sort by:</span>
  <span>Title</span>
  <label class="switch">
    <input type="checkbox" [checked]="sortBy === 'price'" (change)="sortBy = sortBy === 'title' ? 'price' : 'title'">
    <span class="slider"></span>
  </label>
  <span>Price</span>
</div>
<ul class="pill-group">
  @for (product of products() | sort:sortBy; track product.id; let i = $index) {
  <li class="pill" (click)="selectedProduct = product">
    <app-product-view [id]="product.id" [index]="i + 1"></app-product-view>
    } @empty {
    <p>No products found!</p>
    }
</ul>

<!--
@if (selectedProduct) {
<p>You selected:
  // <span>{{selectedProduct | json}}</span>
  <strong>{{selectedProduct.title}}</strong>
</p>
}-->
<app-product-detail #productDetail [product]="selectedProduct" (added)="onAdded($event)">
</app-product-detail>
<h1>Favorites</h1>
<app-favorites></app-favorites>